Repository The-Fellowship-of-the-matzip/mat.zip-back, pull requests merged in 2022-09, with the labels that each got.

#73 feat: 리뷰 수정, 삭제 api를 구현한다.
  app-external-api/src/docs/asciidoc/review.adoc
  app-external-api/src/main/java/com/woowacourse/auth/config/AuthConfig.java
  app-external-api/src/main/java/com/woowacourse/matzip/application/ReviewService.java
  app-external-api/src/main/java/com/woowacourse/matzip/presentation/ReviewController.java
  app-external-api/src/main/java/com/woowacourse/matzip/presentation/request/ReviewUpdateRequest.java
  app-external-api/src/main/java/com/woowacourse/support/exception/GlobalControllerAdvice.java
  app-external-api/src/test/java/com/woowacourse/acceptance/ReviewAcceptanceTest.java
  app-external-api/src/test/java/com/woowacourse/acceptance/support/RestAssuredRequest.java
  app-external-api/src/test/java/com/woowacourse/document/ReviewDocumentation.java
  app-external-api/src/test/java/com/woowacourse/matzip/application/ReviewServiceTest.java
  common/src/main/java/com/woowacourse/matzip/exception/ForbiddenException.java
  common/src/main/java/com/woowacourse/matzip/exception/ReviewNotFoundException.java
  core/src/main/java/com/woowacourse/matzip/domain/review/Review.java
  core/src/test/java/com/woowacourse/matzip/domain/review/ReviewTest.java
Labels: feature, review

#75 feat: 식당 추가 요청 도메인을 구현한다
  common/src/main/java/com/woowacourse/matzip/exception/AlreadyRegisteredException.java
  core/src/main/java/com/woowacourse/matzip/domain/member/Member.java
  core/src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantRequest.java
  core/src/test/java/com/woowacourse/matzip/domain/restaurant/RestaurantRequestTest.java
Labels: restaurant

#71 vaadin을 통한 admin 페이지 구현을 진행한다.
  app-internal-api/build.gradle
  app-internal-api/src/main/java/com/woowacourse/matzip/MatzipApplication.java
  app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminMemberService.java
  app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminRestaurantService.java
  app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminReviewService.java
  app-internal-api/src/main/java/com/woowacourse/matzip/application/response/RestaurantResponse.java
  app-internal-api/src/main/java/com/woowacourse/matzip/application/response/ReviewResponse.java
  app-internal-api/src/main/java/com/woowacourse/matzip/repository/CampusRepository.java
  app-internal-api/src/main/java/com/woowacourse/matzip/repository/CategoryRepository.java
  app-internal-api/src/main/java/com/woowacourse/matzip/repository/MemberRepository.java
  app-internal-api/src/main/java/com/woowacourse/matzip/repository/RestaurantRepository.java
  app-internal-api/src/main/java/com/woowacourse/matzip/repository/ReviewRepository.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/MainView.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/SideNavbarLayout.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/member/MemberDetailForm.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/member/MemberListView.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/restaurant/RestaurantListView.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/review/ReviewListView.java
  app-internal-api/src/main/resources/application.yml
  app-internal-api/src/main/resources/data.sql
  app-internal-api/src/main/resources/schema.sql
  common/src/main/java/com/woowacourse/matzip/exception/CategoryNotFoundException.java
  settings.gradle
Labels: feature, admin

#80 배포환경을 구성한다
  app-external-api/build.gradle
  app-internal-api/build.gradle
Labels: infra

#82 어드민 음식점 추가요청 리스트 목록 조회한다
  app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminRestaurantDemandService.java
  app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminRestaurantService.java
  app-internal-api/src/main/java/com/woowacourse/matzip/application/response/RestaurantDemandResponse.java
  app-internal-api/src/main/java/com/woowacourse/matzip/repository/RestaurantDemandRepository.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/SideNavbarLayout.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/restaurantdemand/RestaurantDemandListView.java
  app-internal-api/src/main/resources/data.sql
  app-internal-api/src/main/resources/schema.sql
Labels: admin

#84 음식점 추가요청 항목에 대한 음식점 추가기능
  app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminRestaurantDemandService.java
  app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminRestaurantService.java
  app-internal-api/src/main/java/com/woowacourse/matzip/application/response/RestaurantDemandResponse.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/restaurantdemand/RestaurantDemandCreateForm.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/restaurantdemand/RestaurantDemandListView.java
  app-internal-api/src/main/resources/data.sql
  app-internal-api/src/main/resources/schema.sql
Labels: admin

#86 feat: 어드민 로그인을 구현한다
  app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminAuthService.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/LoginView.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/MainView.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/member/MemberListView.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/restaurant/RestaurantListView.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/restaurantdemand/RestaurantDemandListView.java
  app-internal-api/src/main/java/com/woowacourse/matzip/ui/review/ReviewListView.java
  app-internal-api/src/main/resources/application.yml
Labels: admin

#90 chore: core에서 repository를 관리하도록 수정한다
  build.gradle
  matzip-app-external-api/build.gradle
  matzip-app-external-api/src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantDemandRepository.java
  matzip-app-internal-api/build.gradle
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminMemberService.java
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminRestaurantDemandService.java
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminRestaurantService.java
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/application/AdminReviewService.java
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/repository/CampusRepository.java
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/repository/CategoryRepository.java
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/repository/MemberRepository.java
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/repository/RestaurantRepository.java
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/repository/ReviewRepository.java
  matzip-app-internal-api/src/main/java/com/woowacourse/matzip/ui/restaurantdemand/RestaurantDemandListView.java
  matzip-core/build.gradle
  matzip-core/src/main/java/com/woowacourse/matzip/domain/campus/CampusRepository.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/category/CategoryRepository.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/member/MemberRepository.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantDemandRepository.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepository.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/restaurant/SortCondition.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/review/ReviewRepository.java
  matzip-core/src/test/java/com/woowacourse/matzip/MatzipCoreApplication.java
  matzip-core/src/test/java/com/woowacourse/matzip/TestFixtureCreateUtil.java
  matzip-core/src/test/java/com/woowacourse/matzip/domain/member/MemberRepositoryTest.java
  matzip-core/src/test/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepositoryTest.java
  matzip-core/src/test/java/com/woowacourse/matzip/domain/review/ReviewRepositoryTest.java
Labels: admin

#93 fix: 식당 추가 요청 조회 응답에 github id가 아닌 username을 노출
  matzip-app-external-api/src/main/java/com/woowacourse/matzip/application/response/RestaurantDemandResponse.java
Labels: restaurant
