Repository The-Fellowship-of-the-matzip/mat.zip-back, pull requests merged in 2022-06, with the labels that each got.

#3 feat: 카테고리 목록 조회 기능
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/docs/asciidoc/category.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/woowacourse/MatzipApplication.java
  src/main/java/com/woowacourse/matzip/application/CategoryService.java
  src/main/java/com/woowacourse/matzip/application/response/CategoryResponse.java
  src/main/java/com/woowacourse/matzip/domain/category/Category.java
  src/main/java/com/woowacourse/matzip/domain/category/CategoryRepository.java
  src/main/java/com/woowacourse/matzip/exception/InvalidCategoryException.java
  src/main/java/com/woowacourse/matzip/presentation/CategoryController.java
  src/main/java/com/woowacourse/support/config/RestDocsConfiguration.java
  src/main/resources/data.sql
  src/main/resources/schema.sql
  src/main/resources/static/index.html
  src/main/resources/truncate.sql
  src/test/java/com/woowacourse/MatzipApplicationTests.java
  src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  src/test/java/com/woowacourse/acceptance/CategoryAcceptanceTest.java
  src/test/java/com/woowacourse/acceptance/support/RestAssuredRequest.java
  src/test/java/com/woowacourse/document/CategoryDocumentation.java
  src/test/java/com/woowacourse/document/Documentation.java
  src/test/java/com/woowacourse/document/DocumentationFixture.java
  src/test/java/com/woowacourse/matzip/application/CategoryServiceTest.java
  src/test/java/com/woowacourse/matzip/domain/category/CategoryTest.java
  test.gradle
Labels: category, feature

#5 feat: 깃헙 로그인 기능
  .gitignore
  build.gradle
  src/docs/asciidoc/auth.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/woowacourse/auth/application/AuthService.java
  src/main/java/com/woowacourse/auth/application/GithubOauthClient.java
  src/main/java/com/woowacourse/auth/application/JwtTokenProvider.java
  src/main/java/com/woowacourse/auth/application/dto/GithubProfileResponse.java
  src/main/java/com/woowacourse/auth/application/dto/GithubTokenRequest.java
  src/main/java/com/woowacourse/auth/application/dto/GithubTokenResponse.java
  src/main/java/com/woowacourse/auth/application/dto/TokenResponse.java
  src/main/java/com/woowacourse/auth/exception/ErrorResponse.java
  src/main/java/com/woowacourse/auth/exception/GithubAccessException.java
  src/main/java/com/woowacourse/auth/presentation/AuthController.java
  src/main/java/com/woowacourse/auth/presentation/AuthControllerAdvice.java
  src/main/java/com/woowacourse/auth/support/AuthorizationExtractor.java
  src/main/java/com/woowacourse/matzip/application/MemberService.java
  src/main/java/com/woowacourse/matzip/domain/member/Member.java
  src/main/java/com/woowacourse/matzip/domain/member/MemberRepository.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/main/resources/static/index.html
  src/test/java/com/woowacourse/MatzipApplicationTests.java
  src/test/java/com/woowacourse/acceptance/AcceptanceTest.java
  src/test/java/com/woowacourse/acceptance/AuthAcceptanceTest.java
  src/test/java/com/woowacourse/acceptance/CategoryAcceptanceTest.java
  src/test/java/com/woowacourse/auth/application/AuthServiceTest.java
  src/test/java/com/woowacourse/auth/application/GithubOauthClientTest.java
  src/test/java/com/woowacourse/auth/application/JwtTokenProviderTest.java
  src/test/java/com/woowacourse/auth/support/AuthorizationExtractorTest.java
  src/test/java/com/woowacourse/auth/support/FakeGithubController.java
  src/test/java/com/woowacourse/auth/support/GithubResponseFixtures.java
  src/test/java/com/woowacourse/document/AuthDocumentation.java
  src/test/java/com/woowacourse/document/CategoryDocumentation.java
  src/test/java/com/woowacourse/document/Documentation.java
  src/test/java/com/woowacourse/document/DocumentationFixture.java
  src/test/java/com/woowacourse/matzip/application/CategoryServiceTest.java
  src/test/java/com/woowacourse/matzip/application/MemberServiceTest.java
  src/test/java/com/woowacourse/matzip/domain/member/MemberTest.java
  src/test/java/com/woowacourse/support/SpringAcceptanceTest.java
  src/test/java/com/woowacourse/support/SpringServiceTest.java
Labels: feature, authentication

#7 feat: 캠퍼스 entity 구현
  src/main/java/com/woowacourse/matzip/domain/campus/Campus.java
  src/main/java/com/woowacourse/matzip/domain/campus/CampusName.java
  src/main/java/com/woowacourse/matzip/domain/campus/CampusRepository.java
  src/test/java/com/woowacourse/matzip/domain/campus/CampusNameTest.java
  src/test/java/com/woowacourse/matzip/domain/campus/CampusTest.java
Labels: feature, restaurant

#11 feat: 식당, 리뷰 entity 구현
  src/main/java/com/woowacourse/matzip/domain/campus/Campus.java
  src/main/java/com/woowacourse/matzip/domain/category/Category.java
  src/main/java/com/woowacourse/matzip/domain/restaurant/Restaurant.java
  src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepository.java
  src/main/java/com/woowacourse/matzip/domain/review/Review.java
  src/main/java/com/woowacourse/matzip/domain/review/ReviewRepository.java
Labels: feature, review, restaurant

#10 feat: 로그인 관심사 분리
  src/main/java/com/woowacourse/auth/application/JwtTokenProvider.java
  src/main/java/com/woowacourse/auth/config/AuthConfig.java
  src/main/java/com/woowacourse/auth/exception/AuthenticationContextException.java
  src/main/java/com/woowacourse/auth/exception/InvalidTokenException.java
  src/main/java/com/woowacourse/auth/exception/TokenNotFoundException.java
  src/main/java/com/woowacourse/auth/presentation/AuthenticationArgumentResolver.java
  src/main/java/com/woowacourse/auth/presentation/AuthenticationContext.java
  src/main/java/com/woowacourse/auth/presentation/LoginInterceptor.java
  src/main/java/com/woowacourse/auth/support/AuthenticationPrincipal.java
  src/test/java/com/woowacourse/auth/application/JwtTokenProviderTest.java
  src/test/java/com/woowacourse/document/Documentation.java
Labels: feature, authentication

#14 feat: 캠퍼스 interceptor, 전체 조회 구현
  src/docs/asciidoc/campus.adoc
  src/docs/asciidoc/index.adoc
  src/main/java/com/woowacourse/auth/config/AuthConfig.java
  src/main/java/com/woowacourse/matzip/application/CampusService.java
  src/main/java/com/woowacourse/matzip/application/response/CampusResponse.java
  src/main/java/com/woowacourse/matzip/config/CampusConfig.java
  src/main/java/com/woowacourse/matzip/domain/campus/Campus.java
  src/main/java/com/woowacourse/matzip/domain/campus/CampusCacheRepository.java
  src/main/java/com/woowacourse/matzip/domain/campus/CampusName.java
  src/main/java/com/woowacourse/matzip/exception/CampusNotFoundException.java
  src/main/java/com/woowacourse/matzip/presentation/CampusController.java
  src/main/java/com/woowacourse/matzip/presentation/CampusInterceptor.java
  src/main/resources/data.sql
  src/main/resources/static/index.html
  src/test/java/com/woowacourse/acceptance/CampusAcceptanceTest.java
  src/test/java/com/woowacourse/document/CampusDocumentation.java
  src/test/java/com/woowacourse/document/Documentation.java
  src/test/java/com/woowacourse/document/DocumentationFixture.java
  src/test/java/com/woowacourse/matzip/application/CampusServiceTest.java
  src/test/java/com/woowacourse/matzip/domain/campus/CampusCacheRepositoryTest.java
  src/test/java/com/woowacourse/matzip/domain/campus/CampusNameTest.java
  src/test/java/com/woowacourse/matzip/domain/campus/CampusTest.java
Labels: feature, campus

#17 feat: 리뷰 기능 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/review.adoc
  src/main/java/com/woowacourse/auth/config/AuthConfig.java
  src/main/java/com/woowacourse/auth/presentation/LoginInterceptor.java
  src/main/java/com/woowacourse/auth/support/AuthorizationExtractor.java
  src/main/java/com/woowacourse/matzip/application/ReviewService.java
  src/main/java/com/woowacourse/matzip/application/response/CategoryResponse.java
  src/main/java/com/woowacourse/matzip/application/response/ReviewResponse.java
  src/main/java/com/woowacourse/matzip/domain/category/Category.java
  src/main/java/com/woowacourse/matzip/domain/review/Review.java
  src/main/java/com/woowacourse/matzip/domain/review/ReviewRepository.java
  src/main/java/com/woowacourse/matzip/exception/InvalidReviewException.java
  src/main/java/com/woowacourse/matzip/exception/MemberNotFoundException.java
  src/main/java/com/woowacourse/matzip/presentation/ReviewController.java
  src/main/java/com/woowacourse/matzip/presentation/request/ReviewCreateRequest.java
  src/test/java/com/woowacourse/acceptance/AuthAcceptanceTest.java
  src/test/java/com/woowacourse/acceptance/ReviewAcceptanceTest.java
  src/test/java/com/woowacourse/acceptance/support/RestAssuredRequest.java
  src/test/java/com/woowacourse/auth/support/AuthorizationExtractorTest.java
  src/test/java/com/woowacourse/document/Documentation.java
  src/test/java/com/woowacourse/document/DocumentationFixture.java
  src/test/java/com/woowacourse/document/ReviewDocumentation.java
  src/test/java/com/woowacourse/matzip/application/CategoryServiceTest.java
  src/test/java/com/woowacourse/matzip/application/MemberServiceTest.java
  src/test/java/com/woowacourse/matzip/application/ReviewServiceTest.java
  src/test/java/com/woowacourse/matzip/domain/review/ReviewRepositoryTest.java
  src/test/java/com/woowacourse/matzip/domain/review/ReviewTest.java
  src/test/java/com/woowacourse/matzip/support/CategoryFixtures.java
  src/test/java/com/woowacourse/matzip/support/RestaurantFixture.java
  src/test/java/com/woowacourse/matzip/support/ReviewFixtures.java
  src/test/java/com/woowacourse/support/SpringAcceptanceTest.java
Labels: feature, review

#20 feat: 식당 목록 조회 시 평균 별점을 함께 조회하는 기능 구현
  src/main/java/com/woowacourse/matzip/application/RestaurantService.java
  src/main/java/com/woowacourse/matzip/application/response/RestaurantResponse.java
  src/main/java/com/woowacourse/matzip/application/response/RestaurantTitleResponse.java
  src/main/java/com/woowacourse/matzip/application/response/ReviewResponse.java
  src/main/java/com/woowacourse/matzip/domain/restaurant/Restaurant.java
  src/main/java/com/woowacourse/matzip/domain/review/Review.java
  src/main/java/com/woowacourse/matzip/domain/review/ReviewRepository.java
  src/main/java/com/woowacourse/matzip/presentation/RestaurantController.java
  src/main/java/com/woowacourse/matzip/presentation/request/ReviewCreateRequest.java
  src/main/resources/schema.sql
  src/main/resources/static/index.html
  src/test/java/com/woowacourse/document/DocumentationFixture.java
  src/test/java/com/woowacourse/matzip/application/RestaurantServiceTest.java
  src/test/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepositoryTest.java
  src/test/java/com/woowacourse/matzip/domain/review/ReviewRepositoryTest.java
  src/test/java/com/woowacourse/matzip/domain/review/ReviewTest.java
Labels: feature, restaurant

#25 feat: 식당 상세 조회 기능, 캠퍼스 별 무작위 식당 조회 기능 구현
  src/docs/asciidoc/restaurant.adoc
  src/main/java/com/woowacourse/matzip/application/RestaurantService.java
  src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepository.java
  src/main/java/com/woowacourse/matzip/domain/review/ReviewRepository.java
  src/main/java/com/woowacourse/matzip/exception/RestaurantNotFoundException.java
  src/main/java/com/woowacourse/matzip/presentation/RestaurantController.java
  src/test/java/com/woowacourse/acceptance/RestaurantAcceptanceTest.java
  src/test/java/com/woowacourse/document/DocumentationFixture.java
  src/test/java/com/woowacourse/document/RestaurantDocumentation.java
  src/test/java/com/woowacourse/matzip/application/RestaurantServiceTest.java
  src/test/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepositoryTest.java
  src/test/java/com/woowacourse/matzip/domain/review/ReviewRepositoryTest.java
Labels: feature, restaurant

#27 feat: 식당 목록, 리뷰 목록 응답 시 무한 페이징을 위한 hasNext 값을 함께 응답하는 기능 구현
  src/main/java/com/woowacourse/matzip/application/RestaurantService.java
  src/main/java/com/woowacourse/matzip/application/ReviewService.java
  src/main/java/com/woowacourse/matzip/application/response/RestaurantTitlesResponse.java
  src/main/java/com/woowacourse/matzip/application/response/ReviewsResponse.java
  src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepository.java
  src/main/java/com/woowacourse/matzip/domain/review/ReviewRepository.java
  src/main/java/com/woowacourse/matzip/presentation/RestaurantController.java
  src/main/java/com/woowacourse/matzip/presentation/ReviewController.java
  src/test/java/com/woowacourse/acceptance/ReviewAcceptanceTest.java
  src/test/java/com/woowacourse/document/DocumentationFixture.java
  src/test/java/com/woowacourse/matzip/application/RestaurantServiceTest.java
  src/test/java/com/woowacourse/matzip/application/ReviewServiceTest.java
  src/test/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepositoryTest.java
  src/test/java/com/woowacourse/matzip/domain/review/ReviewRepositoryTest.java
Labels: feature, review, restaurant

#29 feat: 배포 환경 구성
  build.gradle
  src/main/java/com/woowacourse/support/config/ExternalPropertyConfiguration.java
  src/main/java/com/woowacourse/support/config/YamlPropertySourceFactory.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/main/resources/static/index.html
  src/test/resources/application.yml
  src/test/resources/data.sql
  src/test/resources/schema.sql
  src/test/resources/truncate.sql
Labels: infra

#31 feat: 누락 예외 핸들링 추가
  src/main/java/com/woowacourse/auth/presentation/AuthControllerAdvice.java
  src/main/java/com/woowacourse/support/exception/ErrorResponse.java
  src/main/java/com/woowacourse/support/exception/GlobalControllerAdvice.java
Labels: feature

#33 feat: 식당 목록 조회 시 정렬 기준에 따라 정렬하는 기능 구현
  src/main/java/com/woowacourse/matzip/application/RestaurantService.java
  src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepository.java
  src/main/java/com/woowacourse/matzip/domain/restaurant/SortCondition.java
  src/main/java/com/woowacourse/matzip/exception/InvalidSortConditionException.java
  src/main/java/com/woowacourse/matzip/presentation/RestaurantController.java
  src/main/java/com/woowacourse/support/exception/GlobalControllerAdvice.java
  src/test/java/com/woowacourse/acceptance/RestaurantAcceptanceTest.java
  src/test/java/com/woowacourse/document/RestaurantDocumentation.java
  src/test/java/com/woowacourse/matzip/application/RestaurantServiceTest.java
  src/test/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepositoryTest.java
  src/test/java/com/woowacourse/matzip/support/TestFixtureCreateUtil.java
Labels: feature, restaurant

#37 feat: 익명 사용자용 이미지 추가
  src/main/resources/static/anonymous_matzip.png
Labels: feature

#38 feat: 식당 검색기능 추가
  src/docs/asciidoc/restaurant.adoc
  src/main/java/com/woowacourse/matzip/application/RestaurantService.java
  src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepository.java
  src/main/java/com/woowacourse/matzip/presentation/RestaurantController.java
  src/test/java/com/woowacourse/acceptance/RestaurantAcceptanceTest.java
  src/test/java/com/woowacourse/document/DocumentationFixture.java
  src/test/java/com/woowacourse/document/RestaurantDocumentation.java
  src/test/java/com/woowacourse/matzip/application/RestaurantServiceTest.java
  src/test/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepositoryTest.java
  src/test/resources/data.sql
Labels: feature, restaurant

#40 feat: 식당 상세 목록 조회 시 평균 별점도 함께 조회하는 기능 구현, 누락된 테스트 추가
  src/docs/asciidoc/restaurant.adoc
  src/main/java/com/woowacourse/matzip/application/RestaurantService.java
  src/main/java/com/woowacourse/matzip/application/response/RestaurantResponse.java
  src/main/java/com/woowacourse/matzip/application/response/RestaurantTitleResponse.java
  src/test/java/com/woowacourse/document/DocumentationFixture.java
  src/test/java/com/woowacourse/document/RestaurantDocumentation.java
  src/test/java/com/woowacourse/document/ReviewDocumentation.java
  src/test/java/com/woowacourse/matzip/application/RestaurantServiceTest.java
Labels: feature, restaurant, test

#42 refactor: 테스트 픽스처 수정
  src/main/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepository.java
  src/main/java/com/woowacourse/matzip/domain/review/ReviewRepository.java
  src/test/java/com/woowacourse/auth/support/GithubResponseFixtures.java
  src/test/java/com/woowacourse/matzip/application/CategoryServiceTest.java
  src/test/java/com/woowacourse/matzip/application/MemberServiceTest.java
  src/test/java/com/woowacourse/matzip/application/ReviewServiceTest.java
  src/test/java/com/woowacourse/support/DataClearManager.java
  src/test/java/com/woowacourse/support/SpringServiceTest.java
  src/test/java/com/woowacourse/support/Tables.java
  src/test/java/com/woowacourse/support/TruncateExtension.java
Labels: authentication, fix_issue, test

#44 feat: 도메인별 validation 로직을 추가한다.
  src/main/java/com/woowacourse/matzip/domain/campus/Campus.java
  src/main/java/com/woowacourse/matzip/domain/category/Category.java
  src/main/java/com/woowacourse/matzip/domain/restaurant/Restaurant.java
  src/main/java/com/woowacourse/matzip/domain/review/Review.java
  src/main/java/com/woowacourse/matzip/exception/InvalidLengthException.java
  src/main/java/com/woowacourse/matzip/presentation/ReviewController.java
  src/main/java/com/woowacourse/matzip/presentation/request/ReviewCreateRequest.java
  src/main/java/com/woowacourse/matzip/support/LengthValidator.java
  src/main/java/com/woowacourse/support/exception/ErrorResponse.java
  src/main/java/com/woowacourse/support/exception/GlobalControllerAdvice.java
  src/test/java/com/woowacourse/acceptance/ReviewAcceptanceTest.java
  src/test/java/com/woowacourse/matzip/domain/campus/CampusTest.java
  src/test/java/com/woowacourse/matzip/domain/category/CategoryTest.java
  src/test/java/com/woowacourse/matzip/domain/restaurant/RestaurantRepositoryTest.java
  src/test/java/com/woowacourse/matzip/domain/restaurant/RestaurantTest.java
  src/test/java/com/woowacourse/matzip/domain/review/ReviewTest.java
  src/test/java/com/woowacourse/matzip/support/LengthValidatorTest.java
Labels: feature

#46 feat: review paging 조회 시 member fetch join 추가
  src/main/java/com/woowacourse/matzip/domain/review/ReviewRepository.java
Labels: review, fix_issue

#48 feat: 리뷰 생성 시 생성 일자 추가
  src/main/java/com/woowacourse/MatzipApplication.java
  src/main/java/com/woowacourse/matzip/domain/review/Review.java
  src/main/java/com/woowacourse/support/config/JpaConfig.java
  src/test/java/com/woowacourse/matzip/domain/review/ReviewRepositoryTest.java
  src/test/resources/schema.sql
Labels: feature, review
