Repository The-Fellowship-of-the-matzip/mat.zip-back, pull requests merged in 2023-07, with the labels that each got.

#186 fix: 리뷰가 없는 멤버의 프로필 조회 시 기본 리뷰 정보 반환
  matzip-app-external-api/src/main/java/com/woowacourse/matzip/application/MyPageService.java
  matzip-app-external-api/src/test/java/com/woowacourse/matzip/application/MyPageServiceTest.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/review/DefaultReviewInfo.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/review/DefaultReviewInfoReviewInfo.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/review/MemberReviewInfos.java
  matzip-core/src/main/java/com/woowacourse/matzip/domain/review/ReviewRepository.java
  matzip-core/src/test/java/com/woowacourse/matzip/domain/review/ReviewRepositoryTest.java
Labels: fix_issue, my_page

#189 fix: RestaurantResponse에 reviewCount 필드 추가
  matzip-app-external-api/src/main/java/com/woowacourse/matzip/application/response/RestaurantResponse.java
Labels: restaurant, fix_issue

#191 hotfix: 이미지파일이름을 정상적으로 수정
  matzip-app-external-api/src/main/java/com/woowacourse/matzip/application/ImageService.java
Labels: fix_issue
